* {
  /* margin:0; */
  /* padding:0; */
  position: relative;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000000;
  color: #fff;
  padding: 20px;
}
.steps-template {
  margin: auto;
  max-width: 500px;
  transition: all 0.5s;
  opacity: 1;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.small {
  font-size: 0.8em;
  line-height: 1.5em;
}
.text-muted {
  color: #6c757d;
}
.hidden {
  display: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #1e1e1e;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
.btn:hover,
.btn.active {
  background-color: #287b2c;
  border-color: #ffffff;
}
.btn-red {
  background-color: #00000000;
  color: #e51616;
  /* border-color: #c30707; */
  border-radius: 500px;
}
.btn-red:hover,
.btn-red.active {
  background-color: #000000;
  /* border-color: #e51616; */
  color: #e51616;
}
/* remove input outline */
input:focus {
  outline: none;
}
/* have all element scrollbar be transparent */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.pop-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up .btn-group .btn {
  margin: 0 5px;
  border-radius: 5px !important;
  border-color: #00000000;
}
.pop-up .btn-group .btn-primary {
  background: #000000;
  color: #287b2c;
}
.pop-up .btn-group .btn.active:hover {
  border-color: #fff;
  filter: brightness(2);
}
