#loader-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#loader-btn-group .btn-red {
  width: 40px;
  height: 40px;
}
#fileList {
  /* height: 300px; */
  height: calc(100vh - 650px);
  overflow: scroll;
  border: 5px solid #181818;
  margin-top: 25px;
  border-radius: 5px;
  min-height: 300px;
}
#fileList li {
  width: calc(100% - 20px);
  padding: 10px;
  padding-top: 14px;
  font-size: 16px;
  line-height: 22px;
  background: #101010;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#fileList li:hover {
  background: #780101;
}
#fileList li .log-t {
  display: block;
  font-size: 12px;
  color: #3fbe46;
}
