#process-code-template {
  margin: auto;
  max-width: 500px;
  transition: all 0.5s;
  opacity: 1;
}
#logsList {
  height: 300px;
  overflow: scroll;
  border: 5px solid #181818;
  margin-top: 25px;
  border-radius: 5px;
}
#logsList li {
  width: calc(100% - 20px);
  padding: 10px;
  padding-top: 14px;
  font-size: 16px;
  line-height: 22px;
}
#logsList li:hover {
  background: #2e2e2e9b;
}
#logsList li .log-t {
  display: block;
  font-size: 12px;
  color: #3fbe46;
}
#logsList li.error .log-t {
  font-size: 15px;
  color: #c30707;
}
#pause-process-img {
  position: absolute;
  height: 27px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  transition: all 0.5s;
  padding: 5px;
}
#pause-process-img.paused {
  border-color: #287b2c;
}
#pause-process-img.error {
  border-color: #c30707;
}
