#progress-bar-template {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: (100% - 40px);
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.step {
  width: 33.33%;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  /* background-color: #ccc; */
  border-bottom: 5px solid #202020;
  position: relative;
  pointer-events: none;
  transition: all 0.5s;
}
.step.active {
  opacity: 1;
  border-bottom: 5px solid #ccc;
  pointer-events: auto;
}
.step .next {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
  height: 70px;
  line-height: 70px;
  opacity: 0;
  pointer-events: none;
}
.step.active .next {
  opacity: 1;
}
.step:not(.process).active .next {
  pointer-events: auto;
}
.step:not(.process).active .next:hover {
  padding-left: 80px;
  color: #3fbe46;
}
.step.active .next .go {
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
  left: 40%;
  transform: translateX(-40%);
  color: #fff;
}
.step.active .next:hover .go {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
}
.step.active .next .back,
.next .next-prompt {
  opacity: 0;
  transition: all 0.5s;
  margin-top: 3px;
  position: absolute;
  right: 80px;
  width: 50%;
  height: 70px;
}
.next .next-prompt {
  left: 80px;
  rotate: 180deg;
}
.paused .step.active .next .back,
.completed .step.active .next .next-prompt {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  z-index: 11;
  right: 105px;
}
.completed .step.active .next .next-prompt {
  left: 105px;
}
.completed .step.active .next .back:hover {
  color: #3fbe46;
  right: 130px;
}
.completed .step.active .next .next-prompt:hover {
  color: #3fbe46;
  left: 130px;
}
